.EntityContainer {
  background-color: #27272a;
  margin: 2vh 0 2vh 0;
  border-radius: 15px;
  text-align: left;
  padding: 15px;
}
.titleSchoolName {
  font-size: 28px;
}
.entityLabel {
  display: flex;
  color: #a1a1aa;

  width: 50%;
  margin-bottom: 0.5vh;
}
.entityValue {
  margin-left: 1vw;
  color: white;
}
.titleSchooEntitylName {
  color: #a1a1aa;

  border-bottom: solid 1px #3a3a3d;
}
