.mainNavbarContainer {
  background-color: #343434;
  font-size: 16px;
  color: white;
  width: 100vw;
  border-bottom: 1px solid rgb(155, 155, 155);
  font-weight: 700;
  position: fixed;
  text-wrap: nowrap;
  z-index: 1000;
}
.contentContainer {
  display: flex;
  margin: 0 10vw 0 10vw;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
.chooseActionContainer {
  display: flex;
}
.buttonNavbar {
  color: white;
}
.buttonNavbar:hover {
  cursor: pointer;
  color: #aa9cff;
}
