.mainNavbarContainer {
  background-color: black;
  font-size: 16px;
  color: white;
  width: 100vw;
  border-bottom: 1px solid rgb(155, 155, 155);
}
.contentContainer {
  display: flex;
  margin: 0 10vw 0 10vw;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
.chooseActionContainer {
  display: flex;
}
.ss {
  margin-right: 5vw;
}
