.mainContainer {
  margin: 5vw 10vw 0 10vw;
  display: flex;
  flex-direction: column;
}
.titleSection {
  display: flex;
  color: white;
  font-size: 60px;
  font-weight: 600;
  text-align: left;
  line-height: 123%;
  justify-content: flex-start;
  align-items: center;
}
.titleListSection {
  display: flex;
  color: white;
  font-size: 60px;
  font-weight: 600;
  text-align: left;
  line-height: 123%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
}
.descriptionSection {
  margin-top: -5vh;
  width: 38vw;
  color: white;
  font-size: 18px;
  text-align: left;
  line-height: 123%;
}
.descriptionListSection {
  margin-top: -5vh;
  width: 38vw;
  color: white;
  font-size: 18px;
  text-align: left;
  line-height: 123%;
}
.calculatorTitle {
  min-width: 30vw;
}
.actionButton {
  margin: 5vh 0 5vw 0;
  color: white;
  width: 50vw;
}
.mainWrapper {
  overflow-x: hidden;
}
@media (max-width: 1024px) {
  .descriptionSection {
    margin-top: 0;
  }
}
