.mainContainer {
  margin: 0 10vw 0 10vw;
  display: flex;
  flex-direction: column;
}
.titleSection {
  display: flex;
  color: white;
  font-size: 60px;
  font-weight: 600;
  text-align: left;
  line-height: 123%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10vh;
}

.descriptionSection {
  margin-top: -5vh;
  width: 37vw;
  color: white;
  font-size: 18px;
  text-align: left;
  line-height: 123%;
  font-weight: 400;
}
.titleListSection {
  display: flex;
  color: white;
  font-size: 60px;
  font-weight: 600;
  text-align: left;
  line-height: 123%;
  justify-content: flex-start;
  align-items: center;
}
.descriptionListSection {
  margin-top: 3vh;
  width: 38vw;
  color: white;
  font-size: 18px;
  text-align: left;
  line-height: 123%;
  font-weight: 400;
}
.calculatorTitle {
  min-width: 30vw;
}
.actionButton {
  height: 50px;
  margin: 5vh 0 10vw 0;
  color: white;
  width: 50vw;
  font-size: 18px;
  font-weight: 600;
}
.actionListButton {
  margin: 0vh 0 10vw 0;
  color: white;
  width: 50vw;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
}
.mainWrapper {
  overflow-x: hidden;
}
.textContainer {
  display: block;
  margin-left: 3vw;
}
@media (max-width: 1024px) {
  .descriptionSection {
    margin-top: 0;
  }
}
